[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
pynamodb = "*"
tqdm = "*"
retrying = "*"
pytest = "*"
aws-xray-sdk = "*"
slack-webhook = "*"

[requires]
python_version = "3.7"
